/* Navigation */
/* #navbar{
    flex-direction: column;
} */


/* home section */

/* services section */
#services{
    flex-direction: column;
    margin: 20px 5px;
}

#services .box{
    margin: 20px 5px;
}

/* clients section */
#clients{
    overflow: hidden;
}



/* contact us section  */

/* footer */


/* Utility Classes */
.h-primary{
    font-family:'Baloo Bhaijaan 2', cursive;
    font-size: 2.5rem;
    padding: 0px;
    margin-top: 55px;
}
